.str{color:deepPink;}
.kwd{color:#069;font-weight:bold;}
.com{color:#008200;font-style:italic;}
.typ{color:gray}
.lit{color:#000;}
.pun{color:#000;}
.pln{color:#000;}
.tag{color:#FF8000;}
.atn{color:#00FF00;}
.atv{color:#00FF00;}
.dec{color:#00FF00;}


/* 
 * http://www.brendangregg.com/blog/2018-03-22/tcp-tracepoints.html
 */

pre.prettyprint {
line-height:1.1; /* 行间距 */
font-size:15px;
margin-top: 0px;
margin-bottom: 0px;
background-color:#EEEEFF; /*f7f7f9*/
border: #000000;
border-style: dashed;
border-width: 1px;
max-width: 900px;
padding: 8px 8px 8px 8px;
}

@media print {
    .str{color:#060;}
    .kwd{color:#006;font-weight:bold;}
    .com{color:#600;font-style:italic;}
    .typ{color:#404;font-weight:bold;}
    .lit{color:#044;}
    .pun{color:#440;}
    .pln{color:#000;}
    .tag{color:#006;font-weight:bold;}
    .atn{color:#404;}
    .atv{color:#060;}
}

pre code {
font-family:Mono,Monaco,Menlo,"Courier New",monospace;
background-color:transparent;
border: none;
}
code {
color:#18ad0e;
background-color:#FFFFFF;
border:0px solid #EEEEFF;
}
