---
layout: default
---

<section class="meta_mid">
  <span class="time">
    <time datetime="{{ page.date | date:"%Y-%m-%d" }}">{{ page.date | date:"%Y-%m-%d" }}</time>
  </span>
</section>


<section class="post">
{{ content }}
</section>

<footer>
</footer>

<section class="meta_home">
<br />

  <a {% if page.previous %} href="{{ site.url }}{{ page.previous.url }}" class="pageNav"{% endif %} {% unless page.previous %} class="pageNavInvalid" {% endunless %} >Previous</a>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <a href="{{ site.url }}">返回首页</a>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <a {% if page.next %} href="{{ site.url }}{{ page.next.url }}" class="pageNav"{% endif %} {% unless page.next %} class="pageNavInvalid" {% endunless %} >Next</a>

<br />
</section>


{% if page.comments %}
{% include comments.md %}
{% endif %}

<script type="text/javascript">
$(function(){
  $(document).keydown(function(e) {
    if (e.target.nodeName.toUpperCase() != 'BODY') return;
    var url = false;
        if (e.which == 37 || e.which == 74) {  // Left arrow and J
            {% if page.previous %}
        url = '{{ site.url }}{{ page.previous.url }}';
        {% endif %}
        }
        else if (e.which == 39 || e.which == 75) {  // Right arrow and K
            {% if page.next %}
        url = '{{ site.url }}{{ page.next.url }}';
        {% endif %}
        }
        if (url) {
            window.location = url;
        }
  });
})
</script>

